.header img:first-child{
	width: 1.1875rem;
	height: 1.1875rem;
}
.input{
	padding: 2.5rem 3rem 3.125rem;
}
.input div{
	height: 4.6875rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.input div input {
	border: 1px solid #AAAAAA;
	height: 1.3rem;
	padding: 0 0.6rem;
}
.button{
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 4rem;
}
.button button{
	background: #fff;
	border: 1px solid #AAAAAA;
	border-radius: 5px;
	padding: 0.3125rem 0;
	width: 4.125rem;
}