.banner img {
	width: 100%;
}
.row{
	padding: 2.5rem 3.125rem 0;
	font-size: 1.25rem;
	text-align: center;
}
button{
	font-size: 1.25rem;
	background: #fff;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
	padding:0.15625rem 1.25rem;
}
.row .button{
	display: flex;
	justify-content: space-between;
}
.show{
	display: flex;
	justify-content: space-between;
}
.show div{
	display: flex;
	flex-direction: column;
	padding: 0 0.625rem;
}
.show div span{
	display: inline-block;
	text-align: right;
	line-height: 3.125rem;
}
.next{
	margin-top: 0.625rem;
}