html,
body,
ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td{
    margin:0;
    padding:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img{
    border: 0;
}

body {
    color: #333;
    font-size:16px;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
}
ul,
li,
ol {
	list-style: none;
    list-style-type: none;
}

select,
input,
img{
    vertical-align: middle;
}
button,
input{
	outline: none;
}

p{
    font-size:.14rem;
}

a {
    color:#666;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}
.header{
	background-color: #fafafa;
	height: 3.125rem;
	line-height: 3.125rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header *{
	margin: 0 0.625rem;
}
.header h1{
	font-weight: 400;
	font-size: 20px;
}
.header img:first-child{
	width: 2.1875rem;
	height: 2.1875rem;
}
.header img:last-child{
	width: 0.9375rem;
	height: 0.9375rem;
}
.succeed{
	position: absolute;
    top: 4rem;
    left: 6rem;
    color: green;
}
.error{
	position: absolute;
    top: 3.2rem;
    left: 6rem;
    color: orangered;
}
li.civilian,div.civilian{
	background-image: url(../img/civilian.jpg) !important;
}
li.guard,div.guard{
	background-image: url(../img/guard.jpg) !important;
}
li.prophet,div.prophet{
	background-image: url(../img/prophet.jpg) !important;
}
li.werewolf,div.werewolf{
	background-image: url(../img/werewolf.jpg) !important;
}
li.witch,div.witch{
	background-image: url(../img/witch.jpg) !important;
}
.hei{
	position: fixed;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,.3);
}
.popout{
	position: fixed;
	background: #fff;
	width: 80%;
	height: 6rem;
	z-index: 11;
	top: -6rem;
	left: 2.2rem;
	border-radius: 0.625rem;
	text-align: center;
}
.popout p{
	font-size: 1.2rem;
	margin-top: 1rem;
}
.popout button{
	background: #007AFF;
	border: none;
	border-radius: 0.3125rem;
	color: white;
	width: 4rem;
	height: 2rem;
	box-shadow: 1px 1px 2px #666666;
	margin-top: 0.625rem;
}